@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Work Sans", sans-serif;
    color: #37423F;
    background-color: #FAFBFB;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #fff;
    border-bottom: 1px solid #E1E3E4;

    h1{ font-size: large;
         color: #37423F; }
    span{ color: #007979; }
}

.main-navigation{
    ul{ display: flex; 
        list-style: none; 
        gap: 25px; }

    a{ text-decoration: none;
         font-family: "JetBrains Mono", monospace;
          font-size: small;
           color: #737877; }
}

.login-btn{
    text-decoration: none;
    background-color: #007979;
    color: #fff;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: small;
}

.container{ 
    width: 90%; 
    max-width: 1100px; 
    margin: auto; }

.main-banner{ 
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap: 40px;
    padding: 60px 0; }

.cta-banner{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    width: 45%;
    h1{ font-size: xx-large; color: #1C2624; }
    p{ color: #737877; }
}

.banner-image{
    width: 50%;
    img{ width: 100%; border-radius: 6px; }
}

.primary-btn{
    text-decoration: none;
    background-color: #007979;
    color: #fff;
    padding: 12px 22px;
    border-radius: 4px;
}

.services-container{
    padding: 40px 0 60px;
    text-align: center;
    h2{ color: #24B1B1; margin-bottom: 30px; }
}

.services-list{ 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #E1E3E4;
    border-radius: 5px;
    padding: 15px;
    width: 22%;

    img{ width: 100%; 
        height: 150px; 
        border-radius: 3px; 
        background-color: #EAEAEA;}
    
    strong{ font-family: "JetBrains Mono", monospace; 
        font-size: small; 
        color: #37423F;}
}